body {
 background: lavender;
}


/* So I want to have a gradient here... */
/* Idk what about this, maybe have it be like ... the animated gradient? */

.cloud-bg {
  opacity: 0.4; /* Idk for a nice effect */
  background-image: -webkit-gradient( linear, center bottom, center top, from(indigo), to(steelblue));
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  left: 0%;
}

#clouds {
  /* Look its gotta look like some polygon-like clouds with opacity and shit */
  opacity: 1.0;
  position: absolute;
  /* background: white; */
  background-image: -webkit-gradient( radial, center bottom, center top, from(white), to(navy));
  color: white;
  border-radius: 100%;
  height: 20%;
  width: 70%;
  top: 75%;
  left: 15%;
}
