body {
    background: black;
}

.outer-container {
	display: table;
	position: absolute;
	height: 90%;
	width: 90%;
}

.inner-container {
	display: table-cell;
    /* position: relative; */
	vertical-align: middle;
	text-align: center;

	width: 160px;
	height: 128px;
}

.ready-to-flush:before {
    /* id actually like to use the bigger triangle or a chevron */
    content: attr(flush-symbol); /* ▾ */
    color: green;
    z-index: 2; /* sure that this shows above the container */
    position: absolute;

    /* there should be a nice way to calculate this using the size of text-box  (or your target) */
    margin-top: 32px; /* 44 - 12 ?? */
    margin-left: 154px; /* 160 - 6 ?? */
}

#text-box {
    vertical-align: middle;
    margin: 10px auto 0;
    padding: 2px;
    position: relative;

    text-align: left;
    font-family: monospace;

    overflow: none;

    width: 160px;
    height: 44px;

    border: 4px double black;
    border-radius: 4px;
    background: white;
    color: black;
}

#house {
	opacity: 0; /* invisible at first :o */

	-webkit-transition: opacity 4s;
	transition: opacity 4s;
}

#house:hover {
	opacity: 1;
	-webkit-transition: opacity 4s;
	transition: opacity 4s;
}

.hidden {
    display: none;
    visibility: hidden;
}
