body {
    background: black;
}

.outer-container {
	display: table;
	position: absolute;
	height: 100%;
	width: 100%;
}

.inner-container {
	display: table-cell;
	vertical-align: middle;
	text-align: center;

	width: 160px;
	height: 128px;
}

#text-box {
    vertical-align: middle;
    margin: 10px auto 0;
    padding: 2px;

    text-align: left;
    font-family: monospace;

    overflow: none;

    width: 160px;
    height: 44px;

    border: 4px double black;
    border-radius: 4px;
    background: white;
    color: black;
}

#house {
	opacity: 0; /* invisible at first :o */

	-webkit-transition: opacity 4s;
	transition: opacity 4s;
}

#house:hover {
	opacity: 1;
	-webkit-transition: opacity 4s;
	transition: opacity 4s;
}

.hidden {
    display: none;
    visibility: hidden;
}
